@media (max-width: 900px) {
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .mig {
    width: 300px;
    height: 100px;
  }
  .forside_container {
    place-items: center;
  }
  .forside_container {
    text-align: center;
    place-content: center;
  }

  .forside_container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .forside_container img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .footer_grid {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    gap: 5%;
  }

  .hojre img {
    max-width: 40px;
  }

  footer {
    bottom: -100px;
    left: 0;
    right: 0;
    position: relative;
    clear: both;
  }
}

/* fuld skærm */

@media (min-width: 900px) {
  img {
    max-width: 100%;
  }
  main {
    padding: 10%;
    gap: 5%;
  }

  .forside_container {
    gap: 2%;
  }
  .logo img {
    width: 20%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .logo img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  a {
    text-decoration: none;
    color: white;
  }

  .box_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10%;
  }
  .box_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
  }
  .box_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30%;
    max-width: 100%;
    padding: 10%;
    text-align: justify;
  }
  .mig {
    width: 300px;
    height: 100px;
  }

  .forside_container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .forside_container img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  footer {
    bottom: 17%;
    left: 0;
    right: 0;
    position: relative;
    clear: both;
  }
}
