@media (max-width: 900px) {
  img {
    width: 100%;
  }
  .pitch_container {
    display: grid;
    gap: 2%;
    padding: 10%;
  }

  .tekst_1 {
    display: grid;
  }
  .tekst_2 {
    display: grid;
    gap: 2%;
  }
  .tekst_3 {
    display: grid;

    gap: 2%;
  }
  .tekst_4 {
    display: grid;

    gap: 2%;
  }

  .footer_grid {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    gap: 5%;
  }

  .hojre img {
    max-width: 40px;
  }

  footer {
    left: 0;
    right: 0;
    position: relative;
    clear: both;
    bottom: -300px;
    padding: 5%;
  }
}

/* fuld skærm */

@media (min-width: 900px) {
  img {
    max-width: 100%;
  }

  .pitch_container {
    padding: 10%;
  }

  .tekst_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tekst_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    gap: 10%;
  }

  .tekst_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }
  .tekst_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }
  .tekst_5 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
  }
}
