@media (max-width: 900px) {
  img {
    width: 100%;
  }
  .spil_grid {
    grid-gap: 10%;
    padding: 10%;
  }
}

/* fuld skærm */

@media (min-width: 900px) {
  img {
    max-width: 100%;
  }
  .spil_grid {
    grid-gap: 10%;
    padding: 10%;
  }

  .tekst_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
  }
  .tekst_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
  }
}
