/* body */
body {
  color: white;
  font-family: Ars Maquette;
  text-align: justify;
  background-color: black;
}
h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/* header */
header {
  max-width: 100%;
  background-color: black;
}

.toppen {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* logo */
.nav-brandig {
  max-width: 100%;
}
.nav-brandig img {
  display: flex;
  width: 28%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  justify-content: center;
  align-items: center;
}

.nav-branding {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  max-width: 100%;
}

.nav-brandig img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.nav-brandig img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* burger Menu */

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  gap: 10%;
  left: 10%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 10;
}

.toppen {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  max-width: 100%;
}

.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: red;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 15;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: -10px;
  gap: 0;
  flex-direction: column;
  background-color: black;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}

/* Footer */
.footer_grid {
  display: flex;
  justify-content: space-between;
  padding: 0%;
  gap: 10%;
}

.hojre img {
  max-width: 40px;
}

/* footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  clear: both;
} */
