@media (max-width: 900px) {
  img {
    width: 100%;
  }
  .link {
    border: 1px solid white;
    padding: 10px;
  }
}

/* fuld skærm */

@media (min-width: 900px) {
  img {
    width: 100%;
  }

  .videosite_container {
    gap: 10%;
    padding: 10%;
  }

  .tekst_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
  }

  .box_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* .link {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid white;
    padding: 10px;
  } */
}
