@media (max-width: 900px) {
  img {
    width: 100%;
  }

  .website_grid {
    padding: 7%;
  }
}

/* fuld skærm */

@media (min-width: 900px) {
  img {
    max-width: 100%;
  }

  .website_grid {
    padding: 10%;
  }

  h3 {
    justify-content: left;
  }
  .tekst_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
  .tekst_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
  .tekst_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
}
